

<h1>Andrew's Blog</h1>
<p>One of the biggest benefits of a sauna is to your immune system. When you spend 15 minutes or so in a sauna and you body temperature rises, it causes a "mock fever" in your body and tricks it into thinking it's sick. This then tells your immune system to kick into gear and release a boat load of white blood cells into your blood stream to fight the intruders.

Since there is actually nothing attacking you, you are left with a super boosted immune system as a way to prevent from getting sick, and this can last for up to 2 weeks afterwards.

</p>


<p> Wed. 1:55pm April 10, 2013</p>



    <ul class="pager">
    <li class="previous">
    <a href="#">&larr; Older</a>
    </li>
    <li class="next">
    <a href="#">Newer &rarr;</a>
    </li>
    </ul>